# Maven target directory
/target/

# Maven Wrapper files
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
mvnw
mvnw.cmd

# IntelliJ IDEA files
.idea/
*.iws
*.iml
*.ipr

# NetBeans files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code files
.vscode/

# STS (Spring Tool Suite)
/.apt_generated
/.classpath
/.factorypath
/.project
/.settings/
/.springBeans
.sts4-cache

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Build directory (optional)
/build/

# Environment variables and sensitive files
.env
